body {
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

a {
  display: none;
}

nav {
  position: fixed;
  height: 50px;
  width: 100%;
  background-color: black;
  box-shadow: 0px 3px 5px white;
}

nav .reset {
  color: white;
  z-index: 99;
  font-weight: bold;
  padding: 10px;
  margin: 0 auto;
}
